# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\VCS\corso-angular-ngrx\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
